.dialog-box{
    width:30vw;
    position: absolute;
    top: 50%;
    left: 30vw;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}

.header-dialog-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(207, 207, 207);
    padding: 0em 1em;
}

.dialog-close{
    cursor: pointer;
}

.dialog-footer{
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}